.bg-body-tertiary {
    background: linear-gradient(300deg, #443C68, #393053, #18122B);
    background-size: 360% 360%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.navbar-brand {
    font-weight: bold;
    color: #635985;
}

.card {
    margin: 30px; 
    display: inline-block;
    background-color: #181818;
    border: black;
}

.card-title,
.card-text {
    color: whitesmoke;
}

body{
    background-color: #121212;
}
